<%= provide(:page_title, 'New Order') %>
<div class="container">
  <div class="row">
    <h2>Create New Order</h2>
    <hr>
  </div>
  <br>
  <div class="row" id="create-order">
    <%= form_for @order do |f| %>
      <div class="form-group">
        <%= f.label :shipped_at %>
        <%= f.date_field :shipped_at, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :expedite %>
        <%= f.check_box :expedite %>
      </div>
      <%= link_to_add_association 'Add Line Item', f, :line_items %>
      <%= f.fields_for :line_items do |li_f| %>
        <%= render 'line_item_fields', f: li_f %>
      <% end %>
      <%= link_to "<- View Orders", orders_path, {class: 'btn btn-success'} %>
      <%= f.submit "Create", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  const updateUnitPriceFunc = function (lineItem) {
    const widgetChoice = $(lineItem).find('select');
    $(widgetChoice).on('change', function () {
      let id = $(this).val();
      const hiddenInput = $(lineItem).find('input[type="hidden"]:not([name="authenticity_token"])');
      $(hiddenInput).val(widgets[id]);
    })
  };

  const widgets = {};

  <% @widgets.each do |widget| %>
    widgets[<%= widget.id %>] = <%= widget.msrp %>;
    <% end %>

    $('a.add_fields')
      .data('association-insertion-method', 'after')
      .data('association-insertion-node', 'this');

      $('#new_order')
        .on('cocoon:after-insert', function (e, lineItem) {
          updateUnitPriceFunc(lineItem);
        })
        .on('cocoon:before-remove', function (e, lineItem) {
          $(lineItem).find('select').off('change');
        });

    updateUnitPriceFunc($('form .row.nested-fields'));
</script>
